/* .swiper-pagination-bullet {
  background: #ddbfaa;
} */

.swiper-pagination-bullet-active {
  background: #ff3300;
}

/* Make the navigation buttons smaller */
.swiper-button-prev:after,
.swiper-button-next:after {
  /* width: 20px; 
  height: 20px;  */
  font-size: 20px; /* Adjust icon size */
}
